@page
@model YouthGroup.Pages.About.IndexModel
@{
}

<!-- Author: Jack Puschnigg -->


<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/cover/">

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="cover.css" rel="stylesheet">
</head>

<body>

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column text-center">
        <header class="masthead mb-auto text-center">
        </header>

        <!-- Descriptive text -->
        <main role="main" class="inner cover text-center">
            <h1 class="cover-heading text-center">Saint Vincent Youth Network Mission Statement</h1>
            <p class="lead text-center">
                Our organization offers weekly masses at the Saint Vincent Basilica every Sunday at 1pm and a coffee social/group discussion following each service. The homily of each mass is centered around a different topic relating to our nation's youth and the Word of God.
                Numerous events are hosted throughout the year, such as: free tamale night, Koine Greek group study, and volunteer service projects! A monthly calendar of our events can be found on our website for approved members. On top of hosting events,
                our involved clergy regularly create thought-inspiring posts in order to fuel your natural thirst for sprituality. Check out what they have to
                say under our Posts tab after creating an account. Sign up today to join the many other students who have decided to follow a life in Christ AND community!
            </p>

            <!-- Display image -->
            <img src="/img/about page img.jpg" alt="Misson Statement Picture" style="height: 400px; width: 800px; border: 2px solid black;">

            <br />
            <br />

            <!-- Sign up button -->
            <p class="lead text-center">
                <a href="/Identity/Account/Register" class="btn btn-lg btn-secondary text-center" style="background-color: #52ab98; color: #ffffff; border: none ">Sign Up</a>
            </p>
        </main>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>


</body>
</html>